.container {
        width: 100%;
        display: flex;
        padding: 1rem;
        margin: 0 auto;
}

@media (min-width: 768px) {
    .container {
        max-width: 600px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 800px;
        

    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 900px;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1100px;
    }
}

@media (min-width: 1920px) {
    .container {
        max-width: 1400px;
    }
}

@media (min-width: 2560px) {
    .container {
        max-width: 1800px;
    }
}

